name: Tests

on:
  pull_request:
    branches: 
    - 'release/**'
    - 'develop'
  workflow_dispatch:

env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_DVELOPMENT_IOS }}

jobs:
  test:
    name: Test
    runs-on: macos-13
    steps:
    - name: Checkout
      uses: actions/checkout@v2   
    - name: Bundle Install
      run: bundle install
    - name: Tests
      run: bundle exec fastlane test
